<div id="hulk" class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Hulk Search</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <img src="/hulk/hulk.png" class="img-responsive col-xs-6" alt="hulk"/>
            <div class="container col-xs-6">
                <div class="row">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search your favorite hero..."></input>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <ul class="list-group">
                        <li class="list-group-item" style="display: none;">Spider-Man</li>
                        <li class="list-group-item" style="display: none;">Hulk</li>
                        <li class="list-group-item" style="display: none;">Thor</li>
                        <li class="list-group-item" style="display: none;">Hell Boy</li>
                        <li class="list-group-item" style="display: none;">Captain America</li>
                        <li class="list-group-item" style="display: none;">Iron Man</li>
                        <li class="list-group-item" style="display: none;">Groot</li>
                        <li class="list-group-item" style="display: none;">Star-Lord</li>
                        <li class="list-group-item" style="display: none;">Deadpool</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
